.App {
  margin: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.calculator-form, .calculator-output {
  margin: 0 10px;

}

h1 {
  font-size: 1.5em;
}

.calculator-form__row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.form-control input {
  color: black;
  border: none;
  border-bottom: 1px solid;
  font-size: 1.3em;
  font-weight: bold;
  width: 100px;
}

.form-control input:focus {
  outline: none;
}

.form-control label {
  color: #6f7287;
  font-size: 12px;
  line-height: 22px;
}

.multiply, .dollar {
  font-weight: bold;
}

.dollar {
  margin-bottom: 5px;
  margin-right: 5px;
}

.ticket-price {
  display: flex;
  align-items: flex-end;
}

.calculator-output__row {
  text-align: center;
  font-size: 3rem;
}

.calculator-output__row--header, .calculator-output__row--user-pays {
  margin-top: 1em;
  font-size: 1rem;
}
